<!-- mostrar_imagen.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página con Imagen</title>
    <style>
        body {
            background-image: url("{% static '/img/pruebas123123223.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 125vh;
            margin: 0;
        }
    </style>
</head>
<body>

</body>
</html>