{% extends 'Pruebas/layout.html' %}
{% load static %}
{% load humanize %}
{% block content %}

{% for post in posts %}
<article>
    <div class="container-article">
        {% if post.user.profile.profile_picture %}
            <img src="{{ post.user.profile.profile_picture.url }}" alt="Imagen de perfil">>
        {% else %}
            <img src="{{ MEDIA_URL }}media/descarga.png" alt="sin Imagen de perfil">   
        {% endif %}    
        <div>
            <h2 class="username"><a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a></h2>
            <i class="clock"></i>
            <time data-time="#">{{ post.timestamp|naturaltime }}</time>
            <div class="post">{{ post.content }}</div>
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Imagen del post">
            {% endif %}
        </div>
    </div>
</article>

{% endfor %}

{% endblock %}