<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.username.label_tag }} {{ form.username }}
        <br>
        {{ form.password.label_tag }} {{ form.password }}
        <br>
        <button type="submit">Iniciar Sesión</button>
    </form>

    <p>¿Olvidaste tu contraseña? <a href="{% url 'password_reset' %}">Restablecer Contraseña</a></p>
</body>
</html>
